.body{
    margin:0;
    padding:0;
    margin-top:80px;
    padding:30px;
    position:relative;
    overflow-x:hidden
}
html{
    margin:0;
    padding:0;
    overflow-x:hidden
}.pageContainer{
	display: flex;
	text-align: left;
	align-items: left;
}
.col1, .col3{
  width: 30%;
}
.col2{
  width: 40%;
}
.nameContainer{
  display: flex;
  width: 100%;
}
.nameContainer1{
  display: none;
}
form{
  padding: 10px;
  width: 100%;
}
label {
  padding-top: 1em;
  padding-right: 4.5em;
  font-size: 1.5em;
}
option{
    font-size: 1.5em;
}
.lName{
  width: 50%;
  padding-left: 2.5em;
}
input {
  padding: 4em;
  width: 20%;
}
.pad{
  padding-left: 3em;
  padding-right: 1em;
}
.leftsidebar{
    padding: 15%;
}
.Rightsidebar{
    padding: 15%;
}
.col2{
  margin: 1em;
  border:3px solid black;
	padding-top: 1em;
	padding-bottom: 1em;
	padding: 2em;
}
select{
  padding: .25em;
  display: block;
}
h2{
	color: navy;
    margin:0;
    padding-bottom:30px;
    padding-top:30px;
    color: black;
    font-size:3em;
    text-align: center;
}
.pageContainer hr{
	width: 100%;
    height: .50em;
    color: orange;
    background-color: orange;
}
textarea{
  padding: 1em;
}
.block {
  color:white;
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 1em;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block:hover{
  background-color: red;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
}

.black select   { color: #fff; }

.black select   { color: #fff; }



@media only screen and (max-width: 1600px) {

.nameContainer{
  display: none;
}
.nameContainer1{
  display: block;
}
.lName{
  padding-left: 0em;
}
}